@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Fredoka+One&family=Itim&family=Permanent+Marker&family=Rubik+Distressed&display=swap');
#heroic{
    background-image: url(../assets//images/diaper2.jpg);
    height: 25rem;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: .8;
}

#hero-title{
    font-size: 82px;
    color: yellow;
    margin: 0 42px;
}
#p{
    opacity: 1;
    color: white;
    padding: 12px;
    font-size: 28px;
    margin: 18px 0;
    font-weight: bold;
    text-align: justify;
}

.middle-hero{
    height: 12rem;
    display: flex;
    width: 80%;
    flex-direction: column;
    background-color: beige;
    border-radius: 13px;
    margin: -20px auto;
    position: relative;
}
#find{
    color: green;
}

.waste-input{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#service-input{
    border: 1px solid black;
    margin: 12px 8px;
    padding: 12px;
    border-radius: 8px;
    width: 40%;
}

.select-service{
    border: 1px solid black;
    margin: 12px 18px;
    padding: 12px;
    width: 30%;
    border-radius: 8px;
}

#show-services{
    text-decoration: none;
    padding: 12px;width: 20%;
    margin: 12px 8px;
    border: none;
    border-radius: 24px;
    background-color: green;
    color: white;
}


.services{
    height: 50rem;
    width: 100%;
    
}

.services-container{
    display: flex;
    flex-direction: row;
    margin: 3rem;
}

.service-desc{
    color: black;
    text-align: start;
}

.service-title{
    color: green;
    font-size: bold;
}

.bin-img{
    width: 80%;
    height: 80%;
}

.bin-divs{
    display: flex;
    background-color: aqua;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    align-items: center;

}

.more{
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    background-color: beige;
    width: 100%;
    align-items: flex-start;
    border-radius: 4px;
    height: 15rem;
}

#more-title{
    color: rgb(4, 49, 4);
    margin: 12px 0 0 14px;
}

#more-btn{
    color: white;
    background-color: green;
    padding: 12px;
    margin: 12px 14px;
    border: none;
    border-radius: 13px;

}

.more-small{
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-left: auto;
    margin-right: 34px;
    background-color: rgb(80, 143, 80);
    border-radius: 13px;
    margin-top: -20px;
    height: 7rem;
}
.imago{
    width: 5%;
}
.learn{
    display: flex;
    flex-direction: row;
    margin: 42px 0 12px 0;
}
#learn-img{
    
    height: 15rem;
}